
@{
    ViewBag.Title = "Main";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>YiCraftCore</title>
</head>


<body>
    <div>
        <h2>主页</h2>
        <h1>注册界面111111</h1>
    </div>
</body>
</html>

