
@{
    ViewBag.Title = "Register";
}

<body>
    <h2>用户注册</h2>
    <div>
        <form action="/Login/DoCreate" method="post">
            <p>用户名：<input name="uname" id="uname" /></p>
            <p>密码：<input type="password" name="upwd" id="upwd" /></p>
            <p><input type="submit" value="注册" /></p>

            <h2><span style="color:red">@ViewBag.Msg</span></h2>
        </form>
    </div>

</body>
